<wm-page data-ng-controller="Test5643Controller" name="page1">
    <wm-view class="container" backgroundcolor="#fff" name="view1">
        <wm-chart type="Column" name="chart1" dataset="bind:Variables.HrdbDepartmentData.dataSet"></wm-chart>
        <wm-anchor name="anchor1"></wm-anchor>
        <wm-label name="label1"></wm-label>
        <wm-button name="button1"></wm-button>
        <wm-buttongroup name="buttongroup1">
            <wm-button caption="left" name="button2"></wm-button>
            <wm-button caption="center" name="button3"></wm-button>
            <wm-button caption="right" name="button4"></wm-button>
        </wm-buttongroup>
    </wm-view>
</wm-page>